/* ------ Project-wide----------- */

html {
    background-color: black; /* because #darktheme */
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

h2 {
    margin: 0%;
    padding-left: 10px;
}

.nav-bar {
    background-color: burlywood;
}

.nav-bar a {
    padding-left: 20px;
}

h3 {
    margin-bottom: 0px;
}

ul {
    margin-top: 0%;
}

body>div {
    margin: .5%;
    padding: 3px;
}

a {
    display: block;
}

p {
    font-size: 1.1em;
}

.flex-container {
    display: flex;
    margin: 0%;
    padding:0%;
    padding-left: 5px;
    padding-right: 5px;
    max-width: 100%;
}


.flex-container .gallery-pane {
    display: table-cell;
    height: 500px;
    text-align: center;
    width: auto;
    vertical-align: middle;
}

code {
    font-size: 1.1rem;
    background-color: lightgray;
    border-radius: 5px;
    padding: 0px 10px;
    font-weight: bold;
    color: rgb(92, 92, 92);
}


/* ------- Index.html -------- */

#blog {
    color: white;
    margin-left: 5%;
}

.blog-post {
    background-color: firebrick;
    margin: 20px 7.5px
}

.blog-post h2 {
    margin: 0%;
    margin-bottom: 0%;
}

.byline {
    font-style: italic;
}

/* ------- about.html -------- */

#biography {
    color: Gainsboro;
    margin-left: 10%;
}

.profile {
    height: 400px;
}

.bio {
    background-color: coral;
}

.bio-text {
    padding-left: 10px;
}

.gallery-pane {
    padding: 10px;
}

/* ------- Techtips.html ------- */

.cheatsheet h2{
    text-align: center;
    color: white;
}


#tips-with {
    color: Silver;
    padding-left: 20%;
}

.cs-entry li:nth-child(2n+1){
    background-color: lightsteelblue;
}

.cs-entry li:nth-child(2n+1) li:nth-child(2n+1){
    background-color: transparent;
}

.selectors li:nth-child(2n+1) li:nth-child(2n+1) {
    background-color: cornflowerblue;
}

.cs-entry a {
    padding-bottom: 5px;
}


/* ------ plan.html ------- */
#sdp{
    color: LightGray;
    margin-left: 15%;
}

#phase0 {
    background-color: violet;
}

#phase1 {
    background-color: purple;
    color: silver
}

#phase2 {
    background-color: mediumpurple;
}

#phase3 {
    background-color: orchid;
}

#phase4 {
    background-color: maroon;
    color: silver;
}

#phase5 {
    background-color: magenta;
}

#phase6 {
    background-color: darkorchid;
}

.doc-string {
    padding-left: 4em;
    margin-top: 5px;
    
}
